.jumbotron {
    background-color: white;
}
.jumbotron h1 {
    font-family: serif;
    text-align: center;
}
.jumbotron h1 span {
    margin: auto 0.05em;
}
.jumbotron .intro
  {
    font-size:1em;
    text-transform: lowercase;
    color: #999;
    text-align:center;
    padding:1em auto;
  }

.g,
.v {
    color: #15c;
}
.o1,
.e {
    color: red;
}
.o2 {
    color: orange;
}
.l {
    color: green;
}
